Source: orocos-kdl
Priority: extra
Maintainer: Ruben Smits <ruben.smits@mech.kuleuven.be>
Build-Depends: debhelper (>= 5), cmake, pkg-config, libboost-dev, doxygen, liborocos-rtt-common-dev, liborocos-rtt-corba-common-dev , liborocos-rtt-gnulinux-dev, python-sip4-dev (>=4.4.5), sip4
Standards-Version: 3.7.2
Section: libs

Package: liborocos-kdl-dev
Section: libdevel
Architecture: any
Depends: liborocos-kdl0.99 (= ${Source-Version})
Description: Kinematics and Dynamics Library development files
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdl0.99
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Kinematics and Dynamics Library runtime
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-gnulinux0.99
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Kinematics and Dynamics Library rtt-gnulinux binding
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-corba-gnulinux0.99
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Kinematics and Dynamics Library rtt-corba-gnulinux binding
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-lxrt0.99
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Kinematics and Dynamics Library rtt-lxrt binding
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-corba-lxrt0.99
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Kinematics and Dynamics Library rtt-corba-lxrt binding
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-xenomai0.99
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Kinematics and Dynamics Library rtt-xenomai binding
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-corba-xenomai0.99
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Kinematics and Dynamics Library rtt-coba-xenomai binding
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-common-dev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, liborocos-rtt-common-dev, liborocos-kdl-dev, liborocos-kdltk-gnulinux0.99 | liborocos-kdltk-lxrt0.99 | liborocos-kdltk-xenomai0.99
Description: orocos-rtt binding development files
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-gnulinux-dev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, liborocos-kdltk-common-dev, liborocos-kdltk-gnulinux0.99
Description: orocos-rtt-gnulinux binding development files
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-lxrt-dev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, liborocos-kdltk-common-dev, liborocos-kdltk-lxrt0.99
Description: orocos-rtt-lxrt binding development files
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-xenomai-dev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, liborocos-kdltk-common-dev, liborocos-kdltk-xenomai0.99
Description: orocos-rtt-xenomai binding development files
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-corba-common-dev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, liborocos-rtt-corba-common-dev, liborocos-kdltk-corba-gnulinux0.99 | liborocos-kdltk-corba-lxrt0.99 | liborocos-kdltk-corba-xenomai0.99
Description: orocos-rtt binding development files
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-corba-gnulinux-dev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, liborocos-rtt-corba-common-dev, liborocos-kdltk-corba-gnulinux0.99
Description: orocos-rtt-corba-gnulinux binding development files
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-corba-lxrt-dev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, liborocos-rtt-corba-common-dev, liborocos-kdltk-corba-lxrt0.99
Description: orocos-rtt-corba-lxrt binding development files
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdltk-corba-xenomai-dev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, liborocos-rtt-corba-common-dev, liborocos-kdltk-corba-xenomai0.99
Description: orocos-rtt-corba-xenomai binding development files
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.

Package: liborocos-kdl-python0.99
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, python, liborocos-kdl0.99
Description: Kinematics and Dynamics Library python binding
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.
