Source: orocos-kdl
Section: libs
Priority: optional
Maintainer: Ruben Smits <ruben.smits@intermodalics.eu>
Uploaders: Matthijs van der Burgh <MatthijsBurgh@outlook.com>
Build-Depends:
 cmake (>= 3.12),
 debhelper-compat (= 13),
 libcppunit-dev,
 libeigen3-dev,
 pkgconf,
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://www.orocos.org/kdl
Vcs-Browser: https://github.com/orocos/orocos_kinematics_dynamics
Vcs-Git: https://github.com/orocos/orocos_kinematics_dynamics.git

Package: liborocos-kdl1.5
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Kinematics and Dynamics Library runtime
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.
 .
 This package contains the shared library.

Package: liborocos-kdl-dev
Section: libdevel
Architecture: any
Depends:
 libeigen3-dev,
 liborocos-kdl1.5 (= ${binary:Version}),
 ${misc:Depends},
Description: Kinematics and Dynamics Library development files
 Orocos project to supply RealTime usable kinematics and dynamics code,
 it contains code for rigid body kinematics calculations and
 representations for kinematic structures and their inverse and forward
 kinematic solvers.
 .
 This package contains the headers, the pkg-config file and the CMake
 package configuration needed to build against the library.
